html{
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    #all{
        height: 100%;
        display: flex;
        justify-content: center;
        form {
            align-self: center;
            label, input[type=submit], input[type=text]{
                display: block;
            }
            label {
                text-align: center;
            }
            input[type=submit]{
                border: 0;
                background-color: cornflowerblue;
                color: white;
                border-radius: 3px;
                margin: auto;
                cursor: pointer;
                padding: 5%;
                &:disabled{
                    color: black;
                }
            }
            input[type=text]{
                cursor: default;
                margin: 3% 0;
                padding: 3%;
                border: 1px solid black;
            }
            p{
                display: none;
                color: red;
            }
        }
    }
    
    
}